
<!-- SIDEBAR BEGINS -->
<div class="page-sidebar-wrapper" ng-show='$auth.isAuthenticated()'>
    
    <div class="page-sidebar navbar-collapse collapse">

      <ul class="page-sidebar-menu page-header-fixed page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item">
          <a ui-sref="companyList" ui-sref-active="companyList" class="nav-link nav-toggle">
            <i class="icon-home font-green-haze"></i>
            <span class="title">Company</span>
            <span class="selected"></span>
            <span class="arrow open"></span>
          </a>
        </li>
        <li class="nav-item">
          <a ui-sref="userList" ui-sref-active="userList" class="nav-link nav-toggle">
            <i class="icon-user font-green-haze"></i>
            <span class="title">Registered Users</span>
            <span class="arrow"></span>
          </a>
        </li>
        <li class="nav-item">
          <a ui-sref="groupList" ui-sref-active="groupList" class="nav-link nav-toggle">
            <i class="icon-user font-green-haze"></i>
            <span class="title">Groups</span>
            <span class="arrow"></span>
          </a>
        </li>

        <li class="nav-item">
          <a ui-sref="settings" ui-sref-active="settings" class="nav-link nav-toggle">
            <i class="icon-settings font-green-haze"></i>
            <span class="title">Settings</span>
            <span class="arrow"></span>
          </a>
        </li>


      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
  </div>

<!-- SIDEBAR ENDS --><!-- style="padding-top:65px;height:100%" -->